@media (max-width:991px) {
    .header-section{
        height: 430px;
    }
    nav{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding:60px ;
    }
    .menu ul {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .menu ul li{
        padding:30px 0;
    }
    .responsive-banner{
        display: flex;
        flex-direction: column-reverse;
    }
    .banner{
        height: auto;
        background: none;
    }
    .banner-left {
        margin-top: 50px;
    }

    .gamer {
        height: auto;
    }
    .responsive-gamer{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .gamer-left {
        width: 100%;
    }
    .gamer-right {
        width: 100%;
        text-align: center;
    }
    .responsive-video{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }
    .card-text {
        width: 300px;
        margin: auto;
        margin-bottom: 24px;
    }
    .responsive-play{
        display: flex;
        height: auto;
        flex-direction: column-reverse;
    }
    .play-right {
        position: relative;
        width: 100%;
        text-align: right;
    }
    .play-left {
        width: 100%;
        text-align: right;
        margin-top: 110px;
        text-align: center;
    }
    .play-left .description {
        width: 90%;
        margin-top: 24px;
        text-align: center;
    }
    .career-section {
        background-position: bottom center;
        height: 1522px;
        padding-top: 80px;
    }
    .responsive-career{
        display: flex;
        flex-direction: column;

    }
    .career-left {
        width: 100%;
    }


    .footer-menu ul {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        gap: 27px;
    }
    .footer-menu ul li {
        width: 105px;
    }
    .social-menu {
        display: grid;
        grid-template-columns: repeat(3,94px);
        justify-content: center;
        align-items: center;
        text-align: center;
        row-gap: 50px;
    }

    .footer-pages ul {
        display: grid;
        grid-template-columns: repeat(2,174px);
        text-align: center;
        margin: 50px auto;
        justify-content: center;
        row-gap: 32px;
    }
    .categories {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: repeat(3,33%);
        gap: 5px;
    }
    .category.category2 {
        margin-left: 0;
    }
}
@media (max-width:518px){
    .btn > a {
        color: #FFF;
        margin-right: 24px;
        font-size: 16px;
    }
    .section-title h2 {
        color: #0B0223;
        font-size: 40px;
    }
    .small-image {
        bottom: -50px;
        left: -47px;
        width: 55%;
    }
    .play-left h2 {
        font-size: 40px;
    }
    .categories {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: repeat(3,33%);
        gap: 5px;
    }
    .category.category2 {
        margin-left: 0;
    }
    .category {
        display: flex;
        flex-direction: column;
        width: 85%;
        height: auto;
    }
    .category span {
        font-size: 12px;
        width: 81px;
        text-align: center;
        margin-top: 20px;
    }
    .gamer-right .description {
        padding: 24px 0 32px 0px;
    }
    .play-left .description {
        width: 90%;
        margin-top: 24px;
        text-align: center;
        margin-left: 0;
    }
    .career-list{
        width: 100%;
        flex-direction: column;
    }
}
@media (max-width:480px){
    .categories {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: repeat(3,33%);
        gap: 5px;
    }
    .category.category2 {
        margin-left: 0;
    }
    .career-section {
        height: 1847px;
    }.career-list-right {
        text-align: left;
        width: 100%;
        margin-top: 20px;
    }
}
@media (max-width:430px){
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu span {
        margin-right: 24px;
        font-size: 13px;
    }
    .menu-btn {
        width: 235px;
    }
    .play-left .description {
        width: 90%;
        margin-top: 24px;
        text-align: center;
        margin-left: 0;
    }
    .career-section {
        height: 1847px;
    }
}