 /* Common CSS */
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.container {
    width: 75%;
    margin: auto;
    height: 100%;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
.text-pink{
    color: #ff42a5;
}
.gradient-color{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-primary{
    padding: 21px 40px;
    background:#ff42a5 ;
    display: inline-block;
    border-radius: 48px;
}
a.btn-primary{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
/* Header CSS */
.logo span {
    font-size: 45px;
    font-weight: 700;
}
.logo{
    display: flex;
    align-items: center;
}

.menu{

}
.logo img{
    margin-right: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}
.menu-btn {
    display: flex;
    align-items: center;
    padding: 12px 18px;
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
}
.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu ul li{
    margin-right: 32px;
}
.menu ul li a, .menu-btn span{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.menu span{
    margin-right: 24px;
}
.menu a{
    margin-right: 16px;
}
.header-section{
    height: 130px;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

/* Banner Section */
.banner{
    height: 700px;
    background: url("../images/Group\ 14.png") no-repeat;
    background-position: left center;
    display: flex;
    align-items: center;
}
.banner-left{
    
}
.banner-left h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-left h1{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.banner-left ul li{
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}
.banner-left ul li span{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-left:10px;
}
.banner-left > .btn{
    display: flex;
    align-items: center;
}
.btn > a{
    color: #FFF;
    margin-right: 24px;
}
.btn{
    margin-top: 41px;
}
.btn-lightblue{
    background: #4EC5F7;
}
/* Gamer section design */
.gamer {
    height: 600px;
}
.gamer-left {
    width: 60%;
}
.gamer-right {
    width: 40%;
    text-align: right;
}
.gamer-right h2{
    font-size: 48px;
    font-weight: 700;
}
.gamer-right .description {
    padding: 24px 0 32px 50px;
}
.purpose{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    padding-top: 24px;
}
.quote{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}